PORT=3001
MYSQL_DATABASE=zs2hiring
MYSQL_USER=zs2hiring
MYSQL_PASSWORD=wearehiring
MYSQL_HOST=mysql-57-micro.c8p0knhwlskr.eu-central-1.rds.amazonaws.com
MYSQL_POOL_MIN=1
MYSQL_POOL_MAX=5
JWT_SECRET_KEY=amd9W3R8NJA3G3BFW49MDA894NV9AMCAY8WEOWAMCKLmsdlfnmsofjw
JWT_SECRET_EXPIRESIN=30d
APP_DOMAIN=http://localhost
FB_APP_ID=105132099568798
FB_APP_SECRET=1b09f3ce8ad20b3bc519e118ae2bbf39
TW_APP_DOMAIN=http://localhost:3001/v1/auth/twitter/callback
TW_APP_ID=d3uFKyENcZQwNdpwSixn2UHee
TW_APP_SECRET=um9UThTVgWfxlg12J6QQxQXctnNOYlPYDY83sDM8uvnfxY5qY1
GPLUS_APP_DOMAIN=http://localhost:3001/v1/auth/google/callback
GPLUS_APP_ID=731008868753-pi3rl29it045355doa1r0fm756usl5jh.apps.googleusercontent.com
GPLUS_APP_SECRET=ovvdTU2GlJWGHa70UoFFobJz
MAIL_USER=dev@zoomsphere.com
MAIL_PASS=bflmpsvz
MAIL_SMTP_SERVER=posta3.vshosting.cz
AWS_ACCESS_KEY_ID=AKIAJYXEGM7Z7P74CM6A
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=eu-west-1
INSTAGRAM_APP_ID=255ca3eec9b1455b846890657252ba77
INSTAGRAM_APP_SECRET=9e17a03eb35843d6b015d448cd0c8112
INSTAGRAM_APP_DOMAIN=http://localhost:3001/v1/auth/instagram/callback
LINKEDIN_APP_ID=77v7eja43kcrb2
LINKEDIN_APP_SECRET=Jq9lOzvraQRrQIoK
LINKEDIN_APP_DOMAIN=http://localhost:3001/v1/auth/linkedin/callback
GPLUS_APP_DEVELOPER_KEY=AIzaSyBOxiK4emwhDMDUA5XUvhuZanbAmXolhV0
YOUTUBE_APP_DOMAIN=http://localhost:3001/v1/auth/youtube/callback
MYSQL_LOGGING=false
AES_KEY=5ab8e1c5bf4a24c61ed5b6014bcf96ea
REDIS_URL=redis://127.0.0.1:6379
FB_APP_TOKEN=105132099568798|yP_jEbEq7ZaszmVqTM1-6GCKtwo
DEBUG=socket.io*
FRONTEND_APP_DOMAIN=http://localhost:3000
FB_APP_DOMAIN=http://localhost:3001/v1/auth/facebook/callback
NODE_DEBUG=true
ELASTIC_DOMAIN=http://elasticsearch-index-lb-1087268056.eu-central-1.elb.amazonaws.com:9200
IP_WHITE_LIST=217.16.184.56,::1
ELASTIC_LOGGER_DOMAIN=http://elasticsearch-index-lb-1087268056.eu-central-1.elb.amazonaws.com:9200
MONITORING_API_DOMAIN=http://zs-elasticsearchapi.eu-central-1.elasticbeanstalk.com
FRONTEND_APP_NAME=zs2-develop
REDIS_DB=0
